<div style="width: 80%;margin: auto;padding-bottom: 50px;">

    <div style="background-color: #ecf0f1;padding: 20px;">

        <img src="assets/safemoon.png" style="width: 100px;">
        <br> <br>


        <button mat-raised-button color="primary" routerLink="">MY REFLEXIONS</button>
        <span style="padding:10px;"> </span>
        <button mat-raised-button color="primary" routerLink="safemoon">BURN CHART</button>
        <span style="padding:10px;"> </span>
        <button mat-raised-button color="primary" routerLink="btc">BTC</button>
    </div>

    <div style="padding-top: 20px;">
        <router-outlet></router-outlet>
    </div>


</div>